<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>입력화면</title>
<script type="text/javascript" src="/test/webjars/jquery/3.3.1/dist/jquery.min.js"></script>
<script type="text/javascript" src="/test/resources/js/common.js"></script>

</head>
<body>
	<form action="#">
		<input type="text" id="title" name="title" placeholder="제목"><br>
		<input type="text" id="content" name="content" placeholder="내용"><br>
<!-- 		<input type="text" name="regUser" placeholder="사용자 번호"><br> -->
		<select id="regUser" name="regUser">
			<option value="1">관리자</option>
			<option value="2">구디</option>
			<option value="3">김경빈</option>
		</select><br>
		<input type="submit" value="작성">
		<a href="/test/resources/views/jquery2.html">돌아가기</a>
	</form>
<script>
$("form").submit(function(event){
	event.preventDefault();
	console.log("form submit!");
	
	var title = $("#title").val();
	var content = $("#content").val();
	var regUser = $("#regUser").val();
	
// 	console.log(title, content, regUser);
	
	/* ================================ */
	if(title == ""){
		alert("제목을 입력하세요.");
		return false;
	}
	
	if(content == ""){
		alert("내용을 입력하세요.");
		return false;
	}
	
	/* ================================ */
	
	var d = {
		"title":title,
		"content":content,
		"regUser":regUser
	};
	
	$.ajax({
		url: "/test/json/board/insert",
		data: d, 
	}).done(function(data){
		i_d(data);
	});
});
</script>
</body>
</html>